@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap');

$color-title-active: #14142B;
$color-primary-default: #5F2EEA;
$color-primary-dark: #2A00A2;
$color-grayscale-line: #D6D8E7;

body {
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: #e5e5e5;
}

.wrapper {
  margin: 0 auto;
  padding: 60px 0;

  width: calc(100% - (118px * 2));
  max-width: 1200px;
}

// structures
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


// headings
.title {
  font-size: 48px;
  font-weight: 700;
  margin: 0;

  &--light {
    font-weight: 400;
  }
}

// wrappers
.content-box {
  background: #fff;
  padding: 70px 64px;
  filter: drop-shadow(0px 8px 16px rgba(17, 17, 17, 0.04));
  border-radius: 32px;
}

// buttons
.btn {
  background: $color-primary-default;
  width: 200px;
  height: 56px;

  display: flex;
  justify-content: center;

  border: none;
  border-radius: 40px;

  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: .75px;

  cursor: pointer;

  &:hover {
    background: $color-primary-dark;
  }

  &--disabled {
    opacity: .5;
  }

  &--secondary {
    width: 196px;
    height: 52px;

    background: none;
    border: 2px $color-primary-default solid;
    color: $color-primary-default;

    &:hover {
      background: none;
      border: 2px $color-primary-dark solid;
      color: $color-primary-dark;
    }
  }

  &--subtle {
    @extend .btn--secondary;
    border: 2px $color-grayscale-line solid;
    &:hover {
      border: 2px $color-grayscale-line solid;
    }
  }
}